<?xml version="1.0"?>

<model>
  <name>Kuka YouBot Noplugin</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <depend>
    <model>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    The Keuka YouBot with some Customizations.
    Customizations by Social Robot: 
      1. Makes distance of left and right gripper a little bit larger.
            The default one is too small to grip objects.
      2. Removed caster links and joints.
            Youbot model have a "fake" Mecanum wheel which use a caster joint
        instead of extra DoF for omni sub wheels for turning. By removing
        the caster links and joints and use less friction for the back
        wheels, it works similar as differential drive, which is both easier for
        controlling and decrease the computational cost for the simulator.
  </description>
</model>
