<?xml version="1.0"?>

<model>
  <!-- This is essentially same as the original Pioneer 2DX model without the model plugin -->
  <name>Pioneer 2DX</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    A model of the pioneer 2 dx robot. This is same as https://bitbucket.org/osrf/gazebo_models/src/default/pioneer2dx/
    with the plugin removed.
  </description>

  <depend>
  </depend>
</model>
