<?xml version="1.0"?>

<model>
  <name>Wood cube 30cm</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    A 30cm^3 wooden cube modified from the 10x10x10 cm wooden cube.
    The 5cm height offset of the internal link has been removed from the original version.
    Also reduced mass by 0.3, and friction to 1/2.
  </description>
</model>
