<?xml version='1.0'?>
<database>
  <name>Models used by SocialBot, copied or adapted from https://bitbucket.org/osrf/gazebo_models</name>
  <comment>ball, texture_ground_plane and cartpole are created by Horizon Robotics.
    pr2_noplugin is adapted from http://wiki.ros.org/pr2_gazebo,
    and youbot_noplugin is adapted from http://www.youbot-store.com/wiki/index.php/Gazebo_simulation</comment>
  <license>Creative Commons Attribution 3.0 Unported</license>
  <models>
    <uri>file://ball</uri>
    <uri>file://beer</uri>
    <uri>file://cafe_table</uri>
    <uri>file://cartpole</uri>
    <uri>file://car_wheel</uri>
    <uri>file://coke_can</uri>
    <uri>file://grey_wall</uri>
    <uri>file://ground_plane</uri>
    <uri>file://icub</uri>
    <uri>file://icub_with_hands</uri>
    <uri>file://jersey_barrier</uri>
    <uri>file://low_table</uri>
    <uri>file://pioneer2dx_noplugin</uri>
    <uri>file://plastic_cup</uri>
    <uri>file://pr2_noplugin</uri>
    <uri>file://sun</uri>
    <uri>file://table</uri>
    <uri>file://texture_ground_plane</uri>
    <uri>file://youbot_noplugin</uri>
  </models>
</database>
