<?xml version="1.0"?>

<model>
  <name>pr2_differential</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <description>
    Original SDF is from:
    https://bitbucket.org/osrf/gazebo_models/src/default/pr2/model.sdf

    Modifies: 
    Change the front caster rotation joints to fixed joints to simplify the caster controlling logic. Now it works as a differential driver the same as turtle-bot or pioneer.
    Remove extra cameras, wg6802418 structure light projector and laser scanner to improve performance.
  </description>

  <depend>
  </depend>
</model>
