<?xml version="1.0"?>
<model>
    <name>iCub (no hands)</name>
    
    <version>1.0</version>
    <sdf version='1.5'>icub.sdf</sdf>
    
    <author>
        <name>Silvio Traversaro</name>
        <email>silvio.traversaro@iit.it</email>
    </author>
    
    <description>
        Model for the iCub humanoid robot.
        License under GNU Lesser General Public License v2.1
        For more information please check http://www.icub.org and https://github.com/robotology/icub-gazebo
        Modification:
            Yarp control board plugins for ICub were removed
            Force torque sensors Plugins from libgazebo_yarp_forcetorque.so were removed
            Joints dedicated to install force torque sensors were removed
    </description>
</model>
