<?xml version="1.0"?>
<model>
    <name>r_hand</name>
    
    <version>1.0</version>
    <sdf version='1.6'>r_hand.sdf</sdf>
    
    <author>
        <name>Marco Randazzo</name>
        <email>marco.randazzo@iit.it</email>
    </author>
    
    <description>
        Model for the hand of iCub humanoid robot. For more information check icub.org.
    </description>
</model>
