<?xml version="1.0"?>

<model>
  <name>pr2_noplugin</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <description>
    Original SDF is from:
    https://bitbucket.org/osrf/gazebo_models/src/default/pr2/model.sdf

    Modified the dynamics including force limits and damping settings from:
    https://github.com/PR2/pr2_mechanism/blob/melodic-devel/pr2_mechanism_model/pr2.urdf
  </description>

  <depend>
  </depend>
</model>
