<?xml version="1.0"?>
<model>
  <name>kuka_lwr_4plus</name>
  <version>0.0.1</version>
  <sdf version="1.5">model.urdf</sdf>

  <author>
    <name>Dennis Leroy Wigand</name>
    <email>dlwigand@gmail.com</email>
  </author>

  <description>
    Kuka LWR 4+ URDF. Based on Antoine Hoarau's version.
  </description>
</model>