<?xml version="1.0"?>
<model>
    <name>l_leg</name>

    <version>1.0</version>
    <sdf version='1.6'>l_leg.sdf</sdf>

    <author>
        <name>Claudio Fantacci</name>
        <email>claudio.fantacci@iit.it</email>
    </author>

    <description>
        Model for the left leg of iCub humanoid robot. For more information check icub.org.
    </description>
</model>
